body {
  margin: 0;
  box-sizing: border-box;
  line-height: 1 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: initial !important;
  font-weight: bold !important;
  line-height: 1 !important;
  margin-bottom: revert !important;
  margin-top: revert !important;
}

:root {
  --mblue: #04596a;
  --lblue: #01b1ca;
  --yellow: #f5cb4f !important;
  --pink: #db4187 !important;
  --mustard: #d7d36c;
  --lgreen: #00b2cc;
  scroll-behavior: smooth;
  line-height: 1 !important;
}

*[data-icon]:before {
  font-size: 25px;
  margin: 0 5px 0 10px;
  color: var(--lblue);
}

[data-icon='email']:before {
  content: '\00c0';
}

[data-icon='facebook']:before {
  content: '\00c1';
}

[data-icon='linkedIn']:before {
  content: '\00c2';
}

[data-icon='phone']:before {
  content: '\00c3';
}

[data-icon='location']:before {
  content: '\00c4';
}

[data-icon='mobile']:before {
  content: '\00c5';
}

[data-icon='logo']:before {
  content: '\00c6';
}

[data-icon='down']:before {
  content: '\00c7';
}

.header {
  padding-top: 74px;
}

.header span {
  color: var(--lblue);
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: bold;
}

.pageContainer {
  text-align: left;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--lblue);
}

.pageContainer:last-of-type {
  border-bottom: none;
}

@media (max-width: 992px) {
  .header span {
    font-size: 1.5rem;
  }
}
